/* ============================================== */
/* 중앙 정렬을 위한 핵심 설정 */
/* ============================================== */

/* 페이지 전체 컨테이너 설정 */
body {min-width:1660px; width:100%;}
.container {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; align-items:center;}

@media screen and (max-width:960px) {
    body {min-width:0;}
}

/* 내부 콘텐츠를 1200px (예시)로 제한하여 중앙에 배치하는 경우 */
.header-inner,
.footer-inner,
.search-area,
.quick-links,
.board-insection,
.media-section {
    max-width: 1920px; /* 콘텐츠 영역의 최대 너비 */
    margin: 0 auto;
}

/* ============================================== */
/* 1. Header 스타일 */
/* ============================================== */
.header {display:flex; width:100%; flex-direction:row; justify-content:center; align-items:center; position:relative; z-index:60; background-color:#FFFFFF;}
.header-inner {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; padding:0 60px;}
.h-nav {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; gap:160px;}
.h-nav .logo {display:flex; margin:0;}
.h-nav .gnb {display:flex; flex-direction:row; justify-content:flex-start; align-items:flex-start;}
.gnb .gnb-box {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; padding:0 20px; gap:20px;}
.gnb .gnb-box > li {display:flex; height:130px; justify-content:center; align-items:center; position:relative;}
.gnb .gnb-box > li > a {display:flex; width:100%; height:100%; justify-content:center; align-items:center; font-size:18px; font-weight:600; color:#1d1d1d; padding:0 40px;}
.gnb .gnb-box > li:hover > a {color:#a80000;}
.gnb .gnb-box > li:hover .gnb-sub {display:flex;}
.gnb .gnb-sub {
    display:none; position:absolute; top:130px; width:240px; padding:28px 24px; left:calc(50% - 120px); flex-direction:column; justify-content:flex-start; align-items:flex-start;
    background:linear-gradient(#862b24,#49100c); gap:16px;
}
.gnb .gnb-sub:after {content:""; display:block; border:10px solid transparent; border-bottom:10px solid #862B24; position:absolute; top:-20px; left:calc(50% - 10px);}
.gnb .gnb-sub li {display:flex;}
.gnb .gnb-sub li a {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; color:#FFFFFF; font-size:16px; font-weight:400; letter-spacing:-0.5px;}

.menu-toggle {
    display:flex; width:50px; height:44px; background-color:transparent; border:none; outline:none; flex-direction:column; justify-content:space-between; align-items:center;
    position:relative; overflow:hidden;
}
.menu-toggle .bar {display:flex; width:50px; height:10px; background-color:#1d1d1d; transition: 0.25s;}

.menu-toggle.active .bar {position:absolute; top:calc(50% - 5px); left:calc(50% - 25px);}
.menu-toggle.active .bar.center {left:-100%;}
.menu-toggle.active .bar.first {transform:rotate(45deg);}
.menu-toggle.active .bar.last {transform:rotate(-45deg);}

.full-gnb {
    display:none !important; width:100%; display:flex; flex-direction:row; justify-content:center; align-items:center; position:absolute; top:130px; left:0; z-index:60;
    background:linear-gradient(#862b24,#49100c); padding:12px;
}
.full-gnb.active {display:flex !important;}
.full-gnb .gnb-box {display:flex; flex-direction:row; width:100%; background-color:#FFFFFF; padding:24px; justify-content:center; align-items:flex-start;}
.full-gnb .gnb-box > li {display:flex; flex:1; max-width:260px; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:32px;}
.full-gnb .gnb-box > li > a {display:flex; width:100%; font-size:30px; color:#1d1d1d; font-weight:600; position:relative; padding-bottom:20px;}
.full-gnb .gnb-box > li > a:after {content:""; display:block; width:24px; height:4px; background-color:#a80000; position:absolute; bottom:0; left:4px;}
.full-gnb .gnb-sub {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:16px; padding-left:4px;}
.full-gnb .gnb-sub li {display:flex;}
.full-gnb .gnb-sub li a {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; font-size:17px; font-weight:500; color:#333333; letter-spacing:-0.5px;}

@media screen and (max-width:960px) {
    .header {width:100%; height:60px; flex-direction:row; justify-content:center; align-items:center;}
    .header-inner {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; padding:14px 16px; position:fixed; top:0; left:0; z-index:70; background-color:#FFFFFF; border-bottom:1px solid #730000;}
    .h-nav {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center; gap:24px;}
    .h-nav .logo {display:flex; margin:0;}
    .h-nav .logo img {height:32px;}
    .h-nav .gnb {display:none;}

    .menu-toggle {min-width:24px; height:20px;}
    .menu-toggle .bar {display:flex; width:24px; height:4px;}
    .menu-toggle.active .bar {position:absolute; top:calc(50% - 2px); left:calc(50% - 12px);}
    .menu-toggle.active .bar.center {left:-50px;}
    .menu-toggle.active .bar.first {transform:rotate(45deg);}
    .menu-toggle.active .bar.last {transform:rotate(-45deg);}

    .full-gnb {flex-direction:column; justify-content:flex-start; align-items:flex-start; top:60px; left:0; z-index:60; height:calc(100vh - 60px); overflow:auto;}
    .full-gnb .gnb-box {flex-direction:column; padding:8px; justify-content:flex-start; align-items:flex-start; gap:20px;}
    .full-gnb .gnb-box > li {display:flex; width:100%; max-width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:8px;}
    .full-gnb .gnb-box > li > a {font-size:16px; line-height:1.2; color:#1d1d1d; font-weight:700; padding-bottom:12px;}
    .full-gnb .gnb-box > li > a:after {width:20px; height:3px; left:2px;}
    .full-gnb .gnb-sub {flex-direction:row; width:100%; justify-content:flex-start; align-items:flex-start; gap:0; flex-wrap:wrap; padding:0; border-top:1px solid #730000; border-left:1px solid #730000;}
    .full-gnb .gnb-sub li {display:flex; flex:0 1 50%; border-right:1px solid #730000; border-bottom:1px solid #730000;}
    .full-gnb .gnb-sub li a {width:100%; height:30px; font-size:12px; letter-spacing:-0.25px; text-align:center; justify-content:center; align-items:center;}
}

/* ============================================== */
/* 2. Main Visual 및 제목 섹션 */
/* ============================================== */
.main-visual {display:flex; flex-direction:column; width:100%; position: relative; overflow: hidden; background-color:#a80000; justify-content:center; align-items:center;}
.main-visual .slide-wrap {max-width:1920px;}
.mv-btn {display:flex; flex-direction:row; position:absolute; bottom:50px; left:50%; transform:translateX(-50%); padding-right:36px;}
.mv-btn .slideToggle {
    display:inline-flex; width:19px; height:26px; background-color:transparent; border:none; background-position:center center; background-size:19px 26px; background-repeat:no-repeat;
    position:absolute; top:calc(50% - 13px); right:0;
}
.mv-btn .slideToggle {background-image:url(../images/icon/pause.png);}
.mv-btn .slideToggle.is-paused {background-image:url(../images/icon/play.png);}
.mv-btn .slideToggle.is-playing {background-image:url(../images/icon/pause.png);}
.mv-btn .slick-dots {display:flex; flex-direction:row; gap:10px; justify-content:flex-start; align-items:center;}
.mv-btn .slick-dots li {display:flex; flex-direction:row;}
.mv-btn .slick-dots li button {display:inline-flex; width:24px; height:24px; background-color:#FFFFFF; box-shadow:0 3px 7px rgba(0,0,0,0.25); font-size:0; border-radius:24px; border:none; outline:none;}
.mv-btn .slick-dots li.slick-active button {background-color:#a80000;}

/* 검색창 영역 */
.search-area {display:flex; flex-direction:row; justify-content:center; align-items:center; width:100%; max-width:1920px; padding:80px 58px 0; background-color:#FFFFFF;}
.search-area input {display:inline-flex; flex:1 1 calc(100% - 160px); height:75px; border:1px solid #747474; padding:0 40px; font-size:20px; color:#1d1d1d; font-weight:400; outline:none;}
.search-area input::placeholder {color:#1d1d1d; font-weight:400;}
.search-area .sbtn {
    display:inline-flex; flex:1 1 160px; height:75px; background-color:#a80000; justify-content:center; align-items:center; color:#FFFFFF; font-size:20px; font-weight:500; gap:8px;
    outline:none; border:none;
}

@media screen and (max-width:960px) {
    .main-visual {overflow: hidden;}
    .main-visual .slide-wrap {max-width:1920px; width:100%;}
    .mv-btn {bottom:12px; padding-right:20px;}
    .mv-btn .slideToggle {width:8px; height:14px; background-size:8px 14px; top:calc(50% - 7px); right:0;}
    .mv-btn .slick-dots li button {width:14px; height:14px; border-radius:14px;}

    /* 검색창 영역 */
    .search-area {padding:24px 16px 0; background-color:#FFFFFF;}
    .search-area input {width:calc(100% - 80px); height:50px; padding:0 12px; font-size:14px;}
    .search-area .sbtn {max-width:80px; flex:1 1 60px; height:50px; font-size:14px; font-weight:500; gap:8px;}
    .search-area .sbtn img {height:16px;}
}

/* ============================================== */
/* 3. Quick Links 및 Board Section */
/* ========================================++++===== */

/* 퀵 링크 그리드 */
.quick-links {display:flex; flex-direction:row; justify-content:center; align-items:stretch; gap:90px; padding:80px 58px; background-color:#FFFFFF;}
.board-box {display:flex; flex:1 1 50%; flex-direction:column; justify-content:flex-start; align-items:flex-start; max-width:735px;}
.board-tab {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center;}
.board-tab li {display:flex; flex:1 1 50%; height:100px; border:1px solid #747474; border-left:none; border-right:none;}
.board-tab li a {display:flex; width:100%; height:100%; flex-direction:row; justify-content:center; align-items:center; font-size:28px; font-weight:600; color:#1d1d1d;}
.board-tab li.active {background-color:#a80000; border:none;}
.board-tab li.active a {color:#FFFFFF;}

.board-list {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
.board-item {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; height:90px; border-bottom:1px solid #747474; padding:0 20px;}
.board-item:last-of-type {border-bottom:none;}
.board-item .title {display:block; width:calc(100% - 100px); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:20px; line-height:1; font-weight:400; color:#1d1d1d;}
.board-item .date {display:flex; width:100px; justify-content:center; align-items:center; font-size:12px; color:#8f8f8f; font-weight:400;}

.success-search {display:flex; width:100%; height:100%; flex-direction:row; justify-content:flex-start; align-items:stretch; margin-top:20px; border-top:1px solid #747474; border-bottom:1px solid #747474;}
.ss-imgbox {display:flex; flex-direction:row; justify-content:center; align-items:center;}
.ss-imgbox img {width:100%;}
.ss-introbox {display:flex; flex:1; flex-direction:column; justify-content:space-between; align-items:flex-start; background-color:#a80000; padding:40px 35px 22px;}
.ss-introbox .textbox {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:20px;}
.ss-introbox .textbox .title {display:flex; width:100%; color:#FFFFFF; font-size:30px; line-height:1; font-weight:600;}
.ss-introbox .textbox .text {display:flex; width:100%; color:#FFFFFF; font-size:14px; line-height:1; font-weight:400;}
.ss-introbox .icon {display:flex; width:100%; flex-direction:row; justify-content:flex-end; align-items:center;}

.link-grid {display:flex; flex:1 1 50%; flex-direction:row; flex-wrap:wrap;}
.link-grid > li {display:flex; flex:1 1 33%; height:50%; background-color:#FFFFFF;}
.link-grid > li a {display:flex; width:100%; height:100%; flex-direction:column; justify-content:space-between; align-items:flex-start; padding:50px 35px 20px;}
.link-grid > li a .textbox {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:28px;}
.link-grid > li a .title {display:flex; width:100%; font-size:30px; font-weight:600; color:#1d1d1d; line-height:1;}
.link-grid > li a .text {display:flex; width:100%; font-size:14px; font-weight:400; color:#1d1d1d; line-height:1.2; letter-spacing:-0.5px; word-break:keep-all;}
.link-grid > li a .icon {display:flex; width:100%; flex-direction:row; justify-content:flex-end; align-items:center;}
.link-grid > li.unset {background-color:#a80000;}
.link-grid > li.unset a .title {color:#FFFFFF;}
.link-grid > li.unset a .text {color:#FFFFFF;}

.board-section {display:flex; width:100%; flex-direction:column; justify-content:center; align-items:center; background-color:#f8f8f8; padding:70px 58px 60px;}
.board-insection {display:flex; width:100%; flex-direction:row; justify-content:center; align-items:stretch; gap:160px;}
.content-box {display:flex; flex:1; max-width:825px; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:48px;}
.bs-title {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center;}
.bs-title .title {display:flex; flex-direction:row; font-size:30px; font-weight:600; color:#1d1d1d;}
.bs-title .btn {display:inline-flex; width:70px; height:28px; justify-content:center; align-items:center; background-color:#f1e9e9; color:#a80000; font-size:14px; line-height:1; font-weight:400;}
.bs-list {display:flex; width:100%; flex-direction:column; border-top:1px solid #747474;}
.bs-item {display:flex; width:100%; height:115px; flex-direction:row; justify-content:space-between; align-items:center; padding:0 20px; gap:20px; border-bottom:1px solid #747474; background-color:#FFFFFF;}
.bs-item .textbox {display:flex; flex:1 1 calc(100% - 50px); flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:18px;}
.bs-item .textbox .title {display:block; width:100%; max-width:700px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:20px; line-height:1; font-weight:400;}
.bs-item .textbox .date {display:block; width:100%; font-size:13px; color:#8f8f8f; font-weight:400;}
.bs-list .icon {display:flex; width:30px; height:30px; position:relative;}
.bs-list .icon:before {content:""; display:block; width:30px; height:4px; background-color:#a80000; position:absolute; top:calc(50% - 2px); left:0; border-radius:2px;}
.bs-list .icon:after {content:""; display:block; width:4px; height:30px; background-color:#a80000; position:absolute; top:0; left:calc(50% - 2px); border-radius:2px;}

.media-section {display:flex; width:100%; flex-direction:row; justify-content:center; align-items:stretch; padding:80px 58px 90px; background-color:#FFFFFF; gap:36px;}
.media-left {display:flex; width:100%; max-width:578px; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
.media-left .ms-title {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; height:56px; padding:0 24px; background-color:#222222;}
.media-left .ms-title .title {display:flex; font-size:18px; font-weight:500; color:#FFFFFF;}
.media-left .ms-btn {display:flex; flex-direction:row; justify-content:center; align-items:center; gap:22px;}
.media-left .ms-btn button {display:inline-flex; background-color:transparent; border:none; outline:none;}
.ms-btn .popupToggle {width:11px; height:18px; outline:none; background-position:center center; background-size:11px 18px; background-repeat:no-repeat;}
.ms-btn .popupToggle {background-image:url(../images/icon/pause_m.png);}
.ms-btn .popupToggle.is-paused {background-image:url(../images/icon/play_m.png);}
.ms-btn .popupToggle.is-playing {background-image:url(../images/icon/pause_m.png);}
.media-left .ms-cont {display:flex; flex-direction:column; width:100%; position:relative; overflow:hidden;}
.media-right {display:flex; flex:1; position:relative;}
.media-right iframe {position:absolute; top:0; left:0; width:100%; height:100%;}

@media screen and (max-width:960px) {
    .quick-links {flex-direction:column; width:100%; justify-content:flex-start; align-items:flex-start; gap:24px; padding:24px 16px;}
    .board-box {flex:1 1 100%; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; max-width:100%;}
    .board-tab {width:100%;}
    .board-tab li {height:40px;}
    .board-tab li a {font-size:14px;}

    .board-item {width:100%; flex-direction:row; justify-content:space-between; align-items:center; height:40px; padding:0 8px;}
    .board-item .title {width:calc(100% - 65px); font-size:12px; line-height:1.2;}
    .board-item .date {width:65px; font-size:11px;}

    .success-search {flex-direction:column; justify-content:flex-start; align-items:stretch; margin-top:12px; border:1px solid #a80000;}
    .ss-introbox {padding:20px 16px 16px;}
    .ss-introbox .textbox {gap:8px;}
    .ss-introbox .textbox .title {font-size:20px;}
    .ss-introbox .textbox .text {font-size:14px; line-height:1.4}
    .ss-introbox .icon img {width:32px;}

    .link-grid {width:100%; flex-direction:row; flex-wrap:wrap;}
    .link-grid > li {flex:1 1 50%; height:100%;}
    .link-grid > li a {padding:20px 16px 16px; gap:12px;}
    .link-grid > li a .textbox {gap:12px;}
    .link-grid > li a .title {font-size:20px;}
    .link-grid > li a .text {font-size:14px;}
    .link-grid > li a .icon img {height:32px;}
    .link-grid > li.unset {background-color:#a80000;}
    .link-grid > li.unset a .title {color:#FFFFFF;}
    .link-grid > li.unset a .text {color:#FFFFFF;}
    .link-grid > li.write {order:1;}
    .link-grid > li.room {order:2;}
    .link-grid > li.intro {order:3;}
    .link-grid > li.history {order:4;}
    .link-grid > li.faq {order:5;}
    .link-grid > li.qna {order:6;}

    .board-section {padding:20px 16px;}
    .board-insection {flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:16px;}
    .content-box {max-width:100%; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:8px;}
    .bs-title {width:100%;}
    .bs-title .title {font-size:18px;}
    .bs-title .btn {width:60px; height:24px; font-size:12px;}
    .bs-list {width:100%;}
    .bs-item {width:100%; height:60px; padding:0 8px; gap:8px;}
    .bs-item .textbox {flex:1 1 100%; width:100%; gap:8px;}
    .bs-item .textbox .title {max-width:100%; font-size:14px; line-height:1.2; font-weight:400;}
    .bs-item .textbox .date {font-size:11px;}
    .bs-list .icon {display:none;}

    .media-section {flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:20px 16px; gap:12px;}
    .media-left {display:flex; width:100%; max-width:578px; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
    .media-left .ms-title {height:50px; padding:0 12px;}
    .media-left .ms-title .title {font-size:14px;}
    .media-left .ms-btn {gap:12px;}
    .media-right {width:100%; height:250px; flex:auto;}
    .media-right iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
}

/* ============================================== */
/* 4. Footer 스타일 */
/* ============================================== */
.footer {display:flex; width:100%; height:240px; flex-direction:row; justify-content:center; align-items:center; background-color:#898989;}
.footer-inner {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; padding:0 58px;}
.footer-info {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:50px;}
.footer-logo {display:flex;}
.footer-text {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:20px;}
.ft-top {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; gap:20px;}
.ft-top .text {display:flex; font-size:16px; line-height:1; color:#FFFFFF; font-weight:400;}
.ft-bottom {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; gap:10px;}
.ft-bottom .termp {display:flex; font-size:16px; line-height:1; font-weight:700; color:#FFFFFF;}
.ft-bottom .line {display:flex; width:1px; height:16px; background-color:#FFFFFF;}
.ft-bottom .text {display:flex; font-size:16px; line-height:1; color:#FFFFFF; font-weight:400;}

.social-links {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-end; gap:58px;}
.link-box {display:flex;}
.link-box select {
    display:inline-flex; width:254px; height:44px; padding:0 40px 0 20px; color:#898989; font-weight:400; outline:none; border:none; background-color:#FFFFFF; appearance:none;
    background-image:url('../images/icon/sel_up.png'); background-position:top 50% right 20px; background-repeat:no-repeat;
}
.link-box select:focus {background-image:url('../images/icon/sel_down.png');}
.link-box select option {color:#1d1d1d;}
.social-box {display:flex; flex-direction:row; justify-content:flex-end; align-items:center; gap:4px;}
.social-box a {display:flex; justify-content:center; align-items:center;}

#quick_menu {display:flex; flex-direction:column; position:fixed; right:20px; bottom:55px; z-index:65; transition:0.25s; gap:18px;}
#quick_menu button {display:inline-flex; flex-direction:column; width:100px; height:100px; border-radius:100px; justify-content:center; align-items:center; gap:8px;}
#quick_menu button {border:none; outline:none; box-shadow:0 3px 7px rgba(0,0,0,0.35);}
#quick_menu button .icon {display:flex; font-size:0; justify-content:center; align-items:center;}
#btn_top {background-color:#a80000;}
#btn_top .text {display:flex; font-size:18px; font-weight:600; color:#FFFFFF;}
#btn_chatbot {background-color:#FFFFFF;}
#btn_chatbot .text {display:flex; flex-direction:column; line-height:1.1; font-size:15px; color:#1d1d1d; font-weight:600; justify-content:center; align-items:center;}
#btn_chatbot .text .color {display:flex; line-height:1.1; font-size:15px; color:#a80000; font-weight:600;}

@media screen and (max-width:960px) {
    .footer {height:auto; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
    .footer-inner {flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:20px 16px;}
    .footer-info {flex-direction:column; justify-content:center; align-items:center; gap:16px;}
    .footer-text {justify-content:center; align-items:center; gap:8px;}
    .ft-top {width:100%; flex-direction:column; justify-content:center; align-items:center; gap:0;}
    .ft-top .text {width:100%; font-size:14px; line-height:1.4; justify-content:center; align-items:center;}
    .ft-bottom {width:100%; flex-direction:column; justify-content:center; align-items:center; gap:0;}
    .ft-bottom .termp {width:100%; font-size:14px; line-height:1.4; justify-content:center; align-items:center; text-align:center}
    .ft-bottom .line {display:none;}
    .ft-bottom .text {width:100%; font-size:14px; line-height:1.4; justify-content:center; align-items:center; text-align:center; word-break:keep-all;}

    .social-links {width:100%; justify-content:center; align-items:center; gap:16px; padding-top:18px;}
    .link-box {display:flex; width:100%; justify-content:center; align-items:center;}
    .link-box select {width:60%; height:40px; padding:0 28px 0 12px; background-position:top 50% right 12px; background-size:12px 7px; font-size:14px;}
    .link-box select:focus {background-image:url('../images/icon/sel_down.png');}
    .link-box select option {color:#1d1d1d;}
    .social-box {display:flex; flex-direction:row; justify-content:flex-end; align-items:center; gap:4px;}
    .social-box a {display:flex; justify-content:center; align-items:center;}

    #quick_menu {right:5px; bottom:55px; gap:12px;}
    #quick_menu button {width:60px; height:60px; border-radius:30px; gap:4px;}
    #quick_menu button .icon img {height:12px;}
    #btn_top {background-color:#a80000;}
    #btn_top .text {font-size:14px;}
    #btn_chatbot .text {line-height:1.2; font-size:12px;}
    #btn_chatbot .text .color {line-height:1.2; font-size:12px;}
}

/* ============================================== */
/* 4. sub 공통 스타일 */
/* ============================================== */
.sub-visual {display:flex; width:100%; height:310px; flex-direction:column; justify-content:center; align-items:center; gap:20px; position:relative;}
.sub-visual {background-repeat:no-repeat; background-size:cover; background-position:50% 50%;}
.sub-visual:after {content:""; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.25); position:absolute; top:0; left:0;}
.sub-visual .title {display:flex; color:#FFFFFF; font-size:40px; line-height:1; font-weight:700; position:relative; z-index:2;}
.sub-visual .invigator {display:flex; color:#FFFFFF; font-size:16px; line-height:1; font-weight:400; position:relative; z-index:2;}

.sub-container {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:center; background-color:#FFFFFF;}
.sub-inner {display:flex; width:100%; max-width:1920px; min-height:850px; flex-direction:row; justify-content:flex-start; align-items:stretch; padding:60px 110px 84px; gap:56px;}
.sub-nav {display:flex; flex-direction:column; width:340px;}
.sub-nav .title {display:flex; width:100%; height:120px; flex-direction:column; padding:58px 40px 0; justify-content:flex-start; align-items:flex-start; color:#FFFFFF; font-size:32px; font-weight:700;}
.sub-nav .title {background-image:url('../images/bg/sub.png'); background-size:340px 120px; background-repeat:no-repeat; background-position:center center;}
.sub-nlist {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; border:1px solid #8f8f8f; border-bottom:none;}
.sub-nlist > li {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:center; border-bottom:1px solid #8f8f8f;}
.sub-nlist > li > a {display:flex; width:100%; height:70px; flex-direction:row; padding:0 30px; font-size:18px; color:#1d1d1d; font-weight:500; justify-content:flex-start; align-items:center;}
.sub-nlist > li:hover > a {color:#a80000;}
.sub-nlist > li.active > a {color:#a80000; font-weight:700;}
.subin-nlist {display:none; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:16px 32px; border-top:1px solid #8f8f8f; gap:8px;}
.subin-nlist > li {display:flex; flex-direction:row; justify-content:flex-start; align-items:center;}
.subin-nlist > li a {display:flex; width:100%; font-size:16px; font-weight:500; color:#373737; line-height:20px; padding-left:14px; position:relative;}
.subin-nlist > li:hover > a {color:#a80000;}
.subin-nlist > li.active > a {color:#a80000; font-weight:700;}
.subin-nlist > li a:after {content:""; display:block; width:4px; height:4px; background-color:#373737; position:absolute; top:calc(50% - 2px); left:0;}
.sub-nlist > li.active .subin-nlist {display:flex;}

.sub-inbox {display:flex; flex:1; flex-direction:column; border:1px solid #8f8f8f; gap:24px;}
.sub-inbox .stitle {display:flex; flex-direction:row; justify-content:flex-start; align-items:flex-start; font-size:18px; line-height:1.2; color:#1d1d1d; font-weight:400; padding:24px 50px; border-bottom:1px solid #8f8f8f;}
.sub-inbox .sub-set {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:24px; padding:24px 50px 50px; }
.imgbox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:12px;}
.imgbox.center {justify-content:center; align-items:center;}
.imgbox img {width:100%; max-width:100%;}

.stepBox {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center; border-bottom:1px solid #8f8f8f; gap:16px;}
.stepBox .step {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; flex:1 1 20%; padding:12px; gap:12px;}
.stepBox .step .stepText {display:flex; width:100%; flex-direction:row; justify-content:center; align-items:center; font-size:16px; font-weight:700; color:#999999;}
.stepBox .step .stepBar {display:flex; width:100%; height:28px; position:relative;}
.stepBox .step .stepBar:before {content:""; display:flex; width:80px; height:8px; border-radius:8px; background-color:#EBEBE9; position:absolute; bottom:0; left:calc(50% - 40px);}
.stepBox .step .stepBar:after {content:""; display:flex; width:12px; height:12px; border-radius:12px; background-color:#EBEBE9; position:absolute; top:0; left:calc(50% - 6px);}
.stepBox .step.active .stepText {color:#a80000;}
.stepBox .step.active .stepBar:before {background-color:#a80000;}
.stepBox .step.active .stepBar:after {background-color:#a80000;}

.singleLink {display:flex; flex-direction:column; justify-content:center; align-items:center; font-size:0;}
.singleLink.color {color:#0075c8; font-size:14px; font-weight:500; line-height:1.4;}
.singleLink.st {padding-left:16px;}
.singleLink.nd {padding-left:32px;}
.singleLink.rd {padding-left:48px;}
.singleLink.fd {padding-left:64px;}

.singBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:24px;}
.singBox .search-area {padding:0;}
.spaceLine {display:flex; width:100%; height:2px; background-color:#a80000; margin:24px 0;}

@media screen and (max-width:960px) {
    .sub-visual {height:150px; gap:12px;}
    .sub-visual .title {font-size:24px; z-index:2;}
    .sub-visual .invigator {font-size:12px;}

    .sub-container { width:100%;}
    .sub-inner {width:100%; max-width:100%; min-height:450px; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:20px 16px 24px; gap:12px;}
    .sub-nav {display:flex; flex-direction:column; width:100%;}
    .sub-nav .title {display:none;}
    .sub-nlist {width:100%; flex-direction:row; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap; border:none; border-top:1px solid #8f8f8f; border-left:1px solid #8f8f8f;}
    .sub-nlist > li {display:flex; width:auto; flex:1 1 33%; flex-direction:column; justify-content:flex-start; align-items:center; border:none; border-right:1px solid #8f8f8f; border-bottom:1px solid #8f8f8f;}
    .sub-nlist > li > a {height:45px; flex-direction:row; padding:0 12px; font-size:13px; font-weight:500; text-align:center; justify-content:center; align-items:center; word-break:keep-all;}
    .sub-nlist > li:hover > a {color:#a80000;}
    .sub-nlist > li.active > a {color:#a80000; font-weight:700;}
    .subin-nlist {display:none; width:100%; flex-direction:row; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap; padding:0; border-top:1px solid #8f8f8f; border-left:1px solid #8f8f8f; gap:0;}
    .subin-nlist.mSet {display:flex;}
    .subin-nlist > li {flex:1 1 33%; border-right:1px solid #8f8f8f; border-bottom:1px solid #8f8f8f;}
    .subin-nlist > li a {height:28px; font-size:12px; line-height:20px; padding-left:0; justify-content:center; align-items:center; text-align:center;}
    .subin-nlist > li a:after {display:none;}
    .sub-nlist > li.active .subin-nlist {display:none;}

    .sub-inbox {width:100%; gap:12px;}
    .sub-inbox .stitle {font-size:14px; line-height:1.2; color:#1d1d1d; font-weight:400; padding:12px 16px;}
    .sub-inbox .sub-set {gap:8px; padding:12px 16px;}
    .imgbox {gap:8px;}

    .stepBox {gap:8px;}
    .stepBox .step {padding:12px; gap:8px;}
    .stepBox .step .stepText {font-size:12px; font-weight:700; color:#999999;}
    .stepBox .step .stepBar {height:20px;}
    .stepBox .step .stepBar:before {width:40px; height:6px; border-radius:6px; bottom:0; left:calc(50% - 20px);}
    .stepBox .step .stepBar:after {width:8px; height:8px; border-radius:8px; top:0; left:calc(50% - 4px);}

    .singleLink.color {font-size:13px;}
    .singleLink.st {padding-left:12px;}
    .singleLink.nd {padding-left:24px;}
    .singleLink.rd {padding-left:36px;}
    .singleLink.fd {padding-left:48px;}
}

/* tab */
.tabBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:24px;}
.tabList {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:flex-start; background-color:#FFFFFF; box-shadow:0 2px 5px rgba(0,0,0,0.15); padding:12px; border-radius:40px; flex-wrap:wrap;}
.tabList .tabitem {display:flex; flex:1 1 14%; height:50px; flex-direction:row; font-size:16px; cursor:pointer; position:relative;}
.tabList .tabitem span {display:flex; width:100%; height:100%; justify-content:center; align-items:center; line-height:1.2; font-weight:600; color:#1d1d1d; position:relative; z-index:2;}
.tabList .tabitem:hover span {color:#730000;}
.tabList .tabitem.active span {color:#FFFFFF;}
.tabList .tabitem.active:after {content:""; display:flex; width:100%; height:100%; border-radius:60px; background-color:#a80000; position:absolute; top:0; left:0;}

.tabCont {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
.tabContIn {display:none; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:24px;}
.tabContIn.active {display:flex;}

.containerBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:12px;}

/* textbox */
.textBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding-bottom:24px; border-bottom:1px solid #e3e3e3;}
.textBox.border {border:1px solid #e3e3e3; max-height:150px; overflow:auto; padding:20px;}
.textBox.border.full {max-height:100%;}
.textInbox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:16px;}
.tbTitle {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:flex-start; font-size:18px; color:#1d1d1d; font-weight:600; line-height:26px; gap:12px;}
.tbTitle.big {font-size:24px;}
.tbColor {font-size:12px; color:#009e25; line-height:26px;}
.tbRed {font-size:14px; color:#a80000; line-height:26px;}
.tbInBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:4px;}
.tbitem {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center; text-align:left; font-size:16px; color:#333333; font-weight:400; line-height:22px; word-break:keep-all; gap:4px;}
.tbitem.red {color:#730000;}
.tbitem.blue {color:#003399;}
.tbitem.big {font-weight:600;}
.tbitem.st {padding-left:16px;}
.tbitem.nd {padding-left:32px;}
.tbitem.rd {padding-left:48px;}
.tbitem.fd {padding-left:64px;}
.tbTitle.center {justify-content:center; align-items:center; text-align:center;}
.tbitem.center {justify-content:center; align-items:center; text-align:center;}
.sbspace {display:flex; width:100%; height:16px;}
.incBox {
    display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center; text-align:left; font-size:16px; color:#333333; font-weight:400; line-height:22px;
    word-break:keep-all; gap:4px; padding-left:12px; position:relative;
}
.incBox:after {content:""; display:block; width:5px; height:5px; background-color:#1d1d1d; position:absolute; top:9px; left:0; border-radius:3px;}

@media screen and (max-width:960px) {
    .tabBox {gap:12px;}
    .tabList {padding:4px; border-radius:18px;}
    .tabList .tabitem {height:40px; font-size:12px;}

    .tabContIn {gap:12px;}
    .containerBox {gap:8px; overflow:auto;}

    /* textbox */
    .textBox {padding-bottom:12px;}
    .textBox.border {max-height:150px; padding:12px;}
    .textInbox {gap:8px;}
    .tbTitle {font-size:14px; font-weight:600; line-height:20px; gap:8px;}
    .tbColor {font-size:12px; line-height:20px;}
    .tbRed {font-size:12px; line-height:20px;}
    .tbInBox {flex-direction:column; gap:4px;}
    .tbitem {font-size:13px; line-height:20px;}
    .tbitem.big {font-weight:600;}
    .tbitem.st {padding-left:12px;}
    .tbitem.nd {padding-left:24px;}
    .tbitem.rd {padding-left:36px;}
    .tbitem.fd {padding-left:48px;}
    .sbspace {height:14px;}

    .incBox {padding-left:10px; font-size:13px;}
    .incBox:after {width:4px; height:4px; top:8px;}
}

/* table */
.sTableBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; overflow:auto;}
.sTableBox .tbTitle {margin-bottom:12px;}
.nmTable {width:100%; display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; border-top:2px solid #a80000;}
.nmTable .mntr {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:stretch; border-bottom:1px solid #cccccc;}
.nmTable .nmth {display:flex; flex-direction:column; justify-content:center; align-items:center; padding:16px 24px; min-width:25%; position:relative}
.nmTable .nmth.bg {background-color:#F1F1F1;}
.nmTable .nmth.rbg {background-color:#a80000; }
.nmTable .nmth:after {content:""; display:block; width:1px; height:calc(100% - 40px); position:absolute; top:20px; right:0; background-color:#cccccc;}
.nmTable .nmth.end {width:100%;}
.nmTable .nmth.end:after {display:none;}
.nmTable .nmtd {display:flex; flex:1; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:16px 24px; gap:4px; position: relative;}
.nmTable .nmtd.center {justify-content:center; align-items:center;}
.nmTitle {display:flex; font-size:16px; line-height:20px; font-weight:600; color:#1d1d1d; flex-direction:column; justify-content:center; align-items:center; text-align:center;}
.nmTitle.inc {gap:4px; flex-direction:row;}
.nmTitle.inc:after {content:"*"; display:inline-flex; justify-content:center; align-items:center; color:#a80000;}
.nmTable .nmth.rbg .nmTitle {color:#ffffff;}

.rowTable {width:100%; border-top:2px solid #a80000;}
.rowTable tr {border-bottom:1px solid #CCCCCC;}
.rowTable th {border:1px solid #CCCCCC; padding:12px; text-align:center; background-color:#F1F1F1;}
.rowTable td {border:1px solid #CCCCCC; padding:16px 12px; text-align:center;}
.rowTable td.left {text-align:left;}
.rowTable + .rowTable {border-top:none;}
.rowTable + .rowTable tr:first-of-type th {border-top:none;}
.rowTable + .rowTable tr:first-of-type td {border-top:none;}

@media screen and (max-width:960px) {
    .nmTable {border-top:2px solid #a80000;}
    .nmTable .mntr {width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
    .nmTable .nmth {width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:8px 12px; min-width:25%;}
    .nmTable .nmth:after {width:calc(100% - 24px); height:1px; top:auto; bottom:0; right:auto; left:12px; background-color:#eeeeee;}
    .nmTable .nmth.end {width:100%;}
    .nmTable .nmth.end:after {display:none;}
    .nmTable .nmtd {width:100%; padding:8px 12px; gap:4px;}
    .nmTable .nmtd.center {justify-content:center; align-items:center;}
    .nmTitle {display:flex; font-size:14px; line-height:20px; font-weight:600; color:#1d1d1d; flex-direction:column; justify-content:center; align-items:center; text-align:center;}
    .nmTable .nmth.rbg .nmTitle {color:#ffffff;}

    .rowTable {width:100%; min-width:860px;}
    .rowTable.mw700 {min-width:600px;}
    .rowTable.mw600 {min-width:600px;}
    .rowTable.mw500 {min-width:500px;}
    .rowTable.mw400 {min-width:400px;}
    .rowTable.mw300 {min-width:300px;}
    .rowTable th {padding:8px;}
    .rowTable td {padding:8px;}
    .rowTable td.left {text-align:left;}
    
    .rowTable.mBreak {min-width:100%; display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
    .rowTable.mBreak thead {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:4px;}
    .rowTable.mBreak tbody {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:4px;}
    .rowTable.mBreak tr {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start;}
    .rowTable.mBreak th {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; border-bottom:none;}
    .rowTable.mBreak td {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; border-bottom:none;}
}

/* board - type:gallery */
.gallBoard {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:stretch; gap:24px; flex-wrap:wrap;}
.gbItem {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; flex:0 1 calc(33.33% - 16px); border-radius:8px; box-shadow:0 3px 7px rgba(0,0,0,0.15); overflow:hidden;}
.gbItem .gbImg {display:flex; width:100%; justify-content:center; align-items:center; font-size:0;}
.gbItem .gbImg img {max-width:100%; width:100%;}
.gbItem .gbText {display:flex; width:100%; flex-direction:column; justify-content:center; align-items:center; text-align:center; height:60px; font-size:14px; color:#1d1d1d; font-weight:600;}

.gallBoard.inType .gbItem {flex:0 1 calc(25% - 18px);}
.gallBoard.inType .gbItem .gbImg {position:relative; height:150px; overflow:hidden;}
.gallBoard.inType .gbItem .gbImg img { position:absolute; top:50%; left:0; transform:translateY(-50%);}
.gallBoard.inType .gbItem .gbText {gap:4px;}
.gallBoard.inType .gbItem .gbText .gbIntext {font-size:14px; color:#1d1d1d; font-weight:600; line-height:1.2;}
.gallBoard.inType .gbItem .gbText .gbDate {font-size:14px; color:#747474; font-weight:500; line-height:1.2;}

.nBoardBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:24px; gap:24px;}
.nBoardTop {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center;}
.nBTotle {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; flex:1 1 50%; gap:8px;}
.nBTotle .text {display:flex; font-size:18px; color:#1d1d1d; font-weight:500;}
.nBTotle .count {display:flex; font-size:18px; color:#a80000; font-weight:500;}
.nBTotle .page {display:flex; font-size:18px; color:#999999; font-weight:500;}
.nBoardTop .inputRow {flex:1 1 50%; justify-content:flex-end;}

.nBoard {width:100%; border-top:2px solid #a80000;}
.nBoard tr {border-bottom:1px solid #e3e3e3;}
.nBoard tr.title {border-bottom:1px solid #1d1d1d;}
.nBoard th {padding:16px 8px; background-color:#f5f5f5;}
.nBoard td {padding:20px 8px; font-size:15px; font-weight:400; text-align:center;}
.nBoard td.left {text-align:left;}
.nBoard .file {display:inline-block; width:16px;}
.nBoard .link {max-width:0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.nBoard .link .reple { padding-left:28px; background-image:url(../images/icon/reply.png); background-size:14px 14px; background-position:left 4px top 50%; background-repeat:no-repeat;}

.nviewBox {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:24px; gap:24px;}
.textArea {display:flex; width:100%; flex-direction:column; min-height:400px; justify-content:flex-start; align-items:flex-start; gap:4px; padding:0 12px; outline:none; resize:horizontal;}
textarea.textArea {padding:12px; font-size:14px; line-height:1.4; color:#333333; font-weight:400; border-radius:0;}
textarea.textArea:focus {border:1px solid #a80000;}
.multyFile {display:flex; width:100%; flex-direction:column; gap:4px;}
.nbdDown {display:inline-flex; flex-direction:row; justify-content:flex-start; align-items:center; gap:4px;}
.nbdDown .file {display:inline-block; width:16px;}
.nbdDown .text {display:flex; font-size:16px; color:#730000; font-weight:400;}

@media screen and (max-width:960px) {
    .gallBoard {gap:20px;}
    .gbItem {flex:1 1 100%;}
    .gbItem .gbText {height:50px; font-size:13px;}
    
    .gallBoard.inType .gbItem {flex:1 1 100%;}
    .gallBoard.inType .gbItem .gbImg {height:200px;}

    .nBoardBox {flex-direction:column; padding:16px; gap:12px;}
    .nBoardTop {flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:8px;}
    .nBTotle {flex:1 1 100%; gap:4px;}
    .nBTotle .text {font-size:14px;}
    .nBTotle .count {font-size:14px;}
    .nBTotle .page {font-size:14px;}
    .nBoardTop .inputRow {flex:1 1 100%; justify-content:flex-start;}

    .nBoard {width:100%; min-width:860px; border-top:2px solid #a80000;}
    .nBoard tr {border-bottom:1px solid #e3e3e3;}
    .nBoard tr.title {border-bottom:1px solid #1d1d1d;}
    .nBoard th {padding:12px 8px;}
    .nBoard td {padding:12px 8px; font-size:13px;}
    .nBoard .file {display:inline-block; width:14px;}
    .nBoard .link {max-width:0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

    .nviewBox {padding:12px; gap:12px;}
    .textArea {min-height:350px; gap:4px; padding:0;}
    .nbdDown {gap:4px;}
    .nbdDown .file {width:14px;}
    .nbdDown .text {font-size:13px;}
}

/* paging */
.paging {display:flex; width:100%; flex-direction:row; justify-content:center; align-items:center; padding-top:24px; gap:8px;}
.paging button {
    display:inline-flex; width:36px; height:36px; justify-content:center; align-items:center; background-color:transparent; border:none; outline:none; font-weight:600; border-radius:34px; line-height:1;
    text-align:center; padding:0; font-size:14px;
}
.paging button i {font-size:20px;}
.paging button.num:hover {color:#730000;}
.paging button.active {background-color:#a80000; color:#FFFFFF;}

@media screen and (max-width:960px) {
    .paging {padding-top:18px; gap:4px;}
    .paging button {width:24px; height:24px; border-radius:24px; line-height:1; font-size:12px;}
    .paging button i {font-size:14px;}
    .paging button.num:hover {color:#730000;}
    .paging button.active {background-color:#a80000; color:#FFFFFF;}
}

/* accodian menu */
.acodianTable {width:100%; border:1px solid #e3e3e3; border-top:2px solid #a80000;}
.acodianTable tr {border-bottom:1px solid #e3e3e3;}
.acodianTable th {background-color:#e5e5e5; padding:20px 16px;}
.acodianTable td {padding:20px 16px;}
.acodianTable td.singlebox {padding:40px;}
.actitle {cursor:pointer;}
.actitle.active {background-color:#f1f1f1;}
.acitem {display:none;}

@media screen and (max-width:960px) {
    .acodianTable th {padding:12px 8px;}
    .acodianTable td {padding:12px 8px;}
    .acodianTable td.singlebox {padding:16px;}
}

/* btn box */
.btnBox {display:flex; width:100%; flex-direction:row; justify-content:space-between; align-items:center; margin-top:24px; gap:12px;}
.btnBox .btnLeft {display:flex; flex:1 1 50%; justify-content:flex-start; align-items:center; gap:12px;}
.btnBox .btnRight {display:flex; flex:1 1 50%; justify-content:flex-end; align-items:center; gap:12px;}
.btnBox.center {justify-content:center;}
.btnBox.popup {margin-top:0; border-top:1px solid #e3e3e3; padding:16px 24px; justify-content:center; align-items:center;}
.btnBox .btn {
    display:inline-flex; min-width:80px; padding:12px 20px; border-radius:8px; outline:none; border:none; font-size:14px; font-weight:500; line-height:20px; background-color:#f1f1f1;
    justify-content:center; align-items:center;
}
.btnBox .btn.Colorm {background-color:#a80000; color:#FFFFFF;}
.btnBox .btn.Colorb {background-color:#1d1d1d; color:#FFFFFF;}
.btnBox .btn.Coloru {background-color:#4472C4; color:#FFFFFF;}

.check-cont {display:flex; width:100%; flex-direction:row; justify-content:flex-end; align-items:center; gap:24px;}
.rd-type1 {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; position:relative; padding-left:28px;}
.rd-type1 input {width:20px; height:20px; opacity:0; position:absolute; z-index:2; left:0; top:5px; padding:0; margin:0 !important;}
.rd-type1 .chk {
    display:block; width:20px; height:20px; position:absolute; z-index:1; top:5px; left:0; border:1px solid #e3e3e3; border-radius:3px; background-color:#FFFFFF; line-height:18px;
    text-align:center; box-sizing: border-box; font-size:12px;
}
.rd-type1 .chk i {position:relative; font-size:13px; color:#e3e3e3;}
.rd-type1 .txt {display:block; font-size:14px; color:#555555; line-height:28px;}
.rd-type1 input:checked + .chk {border-color:#de434e; background-color: #de434e;}
.rd-type1 input:checked + .chk i {color:#FFFFFF;}

@media screen and (max-width:960px) {
    .btnBox {margin-top:16px; gap:8px;}
    .btnBox .btnLeft {gap:8px;}
    .btnBox .btnRight {gap:8px;}
    .btnBox.popup {padding:12px 20px;}
    .btnBox .btn {min-width:70px; padding:8px 16px; border-radius:8px; font-size:13px; line-height:20px;}

    .check-cont {flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:4px; padding-left:24px;}
    .rd-type1 {padding-left:24px;}
    .rd-type1 input {width:18px; height:18px; top:2px;}
    .rd-type1 .chk {width:18px; height:18px; top:2px; line-height:14px;}
    .rd-type1 .chk i {font-size:10px;}
    .rd-type1 .txt {font-size:12px; line-height:20px;}
    .rd-type1 input:checked + .chk {border-color:#de434e; background-color: #de434e;}
    .rd-type1 input:checked + .chk i {color:#FFFFFF;}
}

.popupBox {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; background-color:#FFFFFF; margin:40px auto; position:relative;}
.popupBox.mx100 {max-width:100px;}
.popupBox.mx200 {max-width:200px;}
.popupBox.mx300 {max-width:300px;}
.popupBox.mx400 {max-width:400px;}
.popupBox.mx500 {max-width:500px;}
.popupBox.mx600 {max-width:600px;}
.popupBox.mx700 {max-width:700px;}
.popupBox.mx800 {max-width:800px;}
.popupBox.mx900 {max-width:900px;}
.popupBox.mx1000 {max-width:1000px;}
.popupTBox {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center; padding:20px 24px; gap:12px; border-bottom:1px solid #e3e3e3;}
.popupTBox .ptbTitle {display:flex; font-size:18px; font-weight:700; color:#1d1d1d; gap:8px;}
.popupCont {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:flex-start; padding:20px 24px; gap:12px;}

@media screen and (max-width:960px) {
    .popupBox {width:90%; margin:0 auto;}
    .popupBox.mx100 {max-width:90%;}
    .popupBox.mx200 {max-width:90%;}
    .popupBox.mx300 {max-width:90%;}
    .popupBox.mx400 {max-width:90%;}
    .popupBox.mx500 {max-width:90%;}
    .popupBox.mx600 {max-width:90%;}
    .popupBox.mx700 {max-width:90%;}
    .popupBox.mx800 {max-width:90%;}
    .popupBox.mx900 {max-width:90%;}
    .popupBox.mx1000 {max-width:90%;}
    .popupTBox {padding:12px 16px; gap:8px;}
    .popupTBox .ptbTitle {font-size:14px;}
    .popupCont {padding:12px 16px; gap:8px;}
}

/* input Box */
.inputBox {display:flex; width:100%; justify-content:flex-start; align-items:center;}
.inputBox input {width:100%; border:1px solid #cccccc; border-radius:4px; height:40px; outline:none; padding:0 12px; font-size:14px; color:#1d1d1d; font-weight:500;}
.inputBox input:focus {border-color:#a80000;}
.inputBox input::placeholder {color:#b5b5b5; font-weight:500;}
.inputLabel {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; font-size:16px; font-weight:500; color:#1d1d1d;}
.inputBox select {
    width:100%; border:1px solid #cccccc; border-radius:4px; height:40px; outline:none; padding:0 28px 0 12px; font-size:14px; color:#1d1d1d; font-weight:500; appearance:none;
    background-image:url('../images/icon/sel_down.png'); background-position:top 50% right 12px; background-repeat:no-repeat; background-size:12px 7px;
}
.inputBox select:focus {background-image:url('../images/icon/sel_up.png');}
.inputRow {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; gap:6px; flex:1;}
.inputRow.fgap {gap:16px;}
.inputRow .inputBox {flex:1 1 20%;}
.inputRow .tbitem {flex:1 1 20%;}
.inputCol {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:6px;}
.inputBtn {
    display:inline-flex; width:80px; height:40px; padding:0 12px; font-size:14px; font-weight:500; color:#FFFFFF; background-color:#747474; border:none; outline:none; border-radius:4px;
    justify-content:center; align-items:center; white-space:nowrap;
}
.inputBtn.auto {width:auto}

.addressBox {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:center; gap:6px;}
.addressBox button {
    display:inline-flex; flex:1 1 100px; height:40px; padding:0 12px; font-size:14px; font-weight:500; color:#FFFFFF; background-color:#747474; border:none; outline:none; border-radius:4px;
    justify-content:center; align-items:center;
}
.addressBox input {display:inline-flex; border:1px solid #cccccc; border-radius:4px; height:40px; outline:none; padding:0 12px; font-size:14px; color:#1d1d1d; font-weight:500; min-width:0;}
.addressBox input.first {flex:1 1 70%;}
.addressBox input.second {flex:1 1 30%;}

.imgUpload {display:flex; width:100%; flex-direction:column; justify-content:center; align-items:center; gap:12px;}
.imgUpload .imgupBox {display:flex; width:100%; flex-direction:column; justify-content:center; align-items:center; box-shadow:0 3px 5px rgba(0,0,0,0.15); overflow:hidden; border-radius:4px;}
.imgUpload .imgupBox img {max-width:100%; width:100%;}
.imgupBtn {display:flex; width:100%; flex-direction:row; justify-content:center; align-items:center; position:relative;}
.imgupBtn label, .imgupBtn .IupBtn {
    display:inline-flex; width:100%; height:40px; padding:0 12px; font-size:14px; font-weight:500; color:#FFFFFF; background-color:#747474; border-radius:4px; justify-content:center; align-items:center;
    position:relative; z-index:2; cursor:pointer; outline:none; border:none;
}
.imgupBtn input {position:absolute; top:0; left:0; width:100%; height:40px; opacity:0; z-index:1; cursor:pointer;}
.inputBtn.red {background-color: #a80000; color:#FFFFFF;}
.inputRow .imgupBtn {max-width:100px;}

@media screen and (max-width:960px) {
    .inputBox {width:100%;}
    .inputBox input {height:32px; padding:0 8px; font-size:12px;}
    .inputLabel {font-size:12px; font-weight:500;}
    .inputBox select {height:32px; outline:none; padding:0 24px 0 8px; font-size:12px; background-position:top 50% right 8px;}
    .inputRow {gap:4px;}
    .inputRow.fgap {gap:8px;}
    .inputRow .inputBox {flex:1 1 20%;}
    .inputRow .tbitem {flex:1 1 20%;}
    .inputCol {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:6px;}
    .inputBtn {width:80px; height:32px; padding:0 8px; font-size:12px;}

    .addressBox {gap:4px;}
    .addressBox button {display:inline-flex; flex:1 1 100px; height:32px; padding:0 12px; font-size:12px; }
    .addressBox input {height:32px; outline:none; padding:0 8px; font-size:12px;}

    .imgUpload {gap:8px;}
    .imgUpload .imgupBox {width:100%;}
    .imgUpload .imgupBox img {max-width:80%; width:80%;}
    .imgupBtn label, .imgupBtn .IupBtn {height:32px; padding:0 8px; font-size:12px;}
    .imgupBtn input {height:32px;}
    .inputBtn button {height:32px; padding:0 8px; font-size:12px;}
}

/* 지원서 가져오기 */
.infoot p {padding:5px 24px;box-sizing:border-box;font-size:14px;}
.infoot p:nth-of-type(3){padding:24x 24x 6px;}
.infoot p:nth-of-type(5){letter-spacing:12px}
.infoot p:nth-of-type(4) {padding-bottom:24px;}
.infoot p:nth-of-type(5) span{letter-spacing:0px;}
.infoot p span.Qndod {padding-left:28px; font-size:12px}
.infoot p span.Qndod span{padding-left:28px;font-size:12px;}
.infoot p:nth-of-type(5) span.Qndod{padding-left:16px;}
.infoot p.bot-txt{padding:24px 24px 12px;font-size:20px;letter-spacing:10px;}

/* MAP */
.mapBox {display:flex; width:100%; height:500px; position:relative; border:1px solid #e3e3e3;}

@media screen and (max-width:960px) {
    .mapBox {height:350px;}
}

/* Main Popup */
.mainpopBox {display:flex; width:100%; height:100%; background-image:url(../images/bg/popup_index.jpg); background-repeat:no-repeat; background-size:cover;}
.mainPCont {display:flex; width:100%; height:100%; flex-direction:row; justify-content:flex-start; align-items:center; gap:20px; padding:80px 24px; overflow:auto;}
.mpcCont {display:flex; cursor:pointer; display:flex; flex:1 1 30%; min-width:30%; min-height:270px; background-color:#333333; border:2px solid #820000; opacity:0.7; transition:0.3s;}
.mpcCont:hover {opacity:1; border-color:#333333; background-color:#FFFFFF;}
.popDown {display:flex; width:100%; flex-direction:row; justify-content:flex-end; align-items:center; padding:8px 16px;}

/* Chatbot */
.chatbotBox {
    display:none; width:100%; max-width:300px; flex-direction:column; justify-content:center; align-items:center; position:fixed; z-index:65; bottom:55px; right:130px;
    border:4px solid #a80000; border-radius:16px; padding:24px 20px; background-color:#FFFFFF; gap:12px;
}
.chatbotBox.active {display:flex;}
.chbTitle {
    display:flex; width:100%; text-align:center; justify-content:center; align-items:center; font-size:16px; font-weight:500; color:#333333;
    line-height:1.4; word-break:keep-all;
}
.chbClose {
    display:flex; background-color:transparent; border:none; outline:none; position:absolute; color:#FFFFFF; background-color:#a80000; width:30px; height:30px;
    top:-15px; right:-15px; border-radius:30px; justify-content:center; align-items:center;
}
.chbList {display:flex; width:100%; flex-direction:column; justify-content:flex-start; align-items:center; border:1px solid #e3e3e3; border-bottom:none;}
.chbItem {display:flex; width:100%; border-bottom:1px solid #e3e3e3;}
.chbItem:hover {background-color:#a80000; opacity:0.7;}
.chbItem a {display:flex; width:100%; padding:16px 20px; justify-content:center; align-items:center; font-size:14px; font-weight:500; color:#555555; line-height:1.2;}
.chbItem:hover a {color:#FFFFFF;} 
.chbBtnBox {display:flex; width:100%; flex-direction:row; justify-content:center; align-items:center; gap:12px;}
.chbBtnBox button {display:inline-flex; width:30px; height:30px; background-color:transparent; border:none; outline:none; font-size:24px; justify-content:center; align-items:center;}

@media screen and (max-width:960px) {
    .mainPCont {gap:12px; padding:40px 12px;}
    .mpcCont {flex:1 1 30%; min-width:30%; min-height:250px;}
    .popDown {padding:8px 12px;}

    /* Chatbot */
    .chatbotBox {max-width:240px; bottom:55px; right:70px; padding:16px 12px; gap:8px;}
    .chbTitle {font-size:14px;}
    .chbItem a {padding:12px 16px; font-size:13px;}
    .chbBtnBox {gap:8px;}
    .chbBtnBox button {width:24px; height:24px; font-size:20px;}
}

.fileUpList {display:flex; width:100%; flex-direction:row; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap; gap:10px;}
.fulItem {display:flex; flex:0 1 calc(20% - 8px); border:1px solid #e3e3e3; padding-bottom:calc(20% - 8px); position:relative;}
.fulItem input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.fulItem label {display:flex; width:100%; height:100%; justify-content:center; align-items:center; position:absolute; top:0; left:0; cursor:pointer;}
.fulItemIn {display:flex; width:100%; height:100%; position:absolute; top:0; left:0; padding:8px;}
.fulItemIn img {width:100%;}

@media screen and (max-width:960px) {
    .fileUpList {justify-content:center; gap:12px;}
    .fulItem {flex:0 1 calc(50% - 6px); padding-bottom:25%;}
    .fulItemIn img {width:100%;}
}

.errorBox {display:flex; flex:1; width:100%; min-height:100%; justify-content:center; align-items:center; flex-direction:column; gap:12px; border:1px solid #a80000;}
.errorBox strong {display:flex; font-size:32px; font-weight:900; color:#a80000; margin-bottom:40px; justify-content:center; align-items:center; text-align:center; word-break:keep-all;}
.errorBox span {display:flex; font-size:22px; font-weight:500; justify-content:center; align-items:center; text-align:center; word-break:keep-all;}

@media screen and (max-width:960px) {
    .errorBox {padding:24px;}
    .errorBox strong {font-size:24px; line-height:30px;}
    .errorBox span {font-size:16px; line-height:24px;}
}